@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900);
html,
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 161%;

    color: var(--main-text-color);
    background-color: var(--bg-color);
}

a {
    color: currentColor;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

    &__popup {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 40;
    }
}

.container {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}

.none {
    display: none !important;
}
