@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900);
html,
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: var(--bg-color);
}

a {
    color: currentColor;
    transition: color 0.2s ease-in;

    &:hover {
        color: var(--accent-color);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.container {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}

.content {
    &__slider {
        background-color: #7029cb;
    }
}
