:root {
    --main-text-color: #fff;
    --ban-color: #3ade4b;
    --bg-color: #a6c9ff;
    --crt-tovar-stroke-color: #00ff4a;
    --cart-tovar-bg-color: #497957;
    --accent-color: #ff4b4b;

    --header-bg: #b47ff6;
}
